<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros de Acopio para Perros en Monterrey</title>
    <link rel="stylesheet" href="index.css">
    <script src="../static/centros.js"></script>
</head>
<body>
    <header>
        <h1>FUREVERHOME</h1>
        <nav>
            <ul>
                <li><a href="quienesomos.html">Quienes somos</a></li>
                <li><a href="adoptar.html">Adoptar</a></li>
                <li><a href="centros.html">Centros de acopio</a></li>
                <li><a href="ayudar.html">Como ayudar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="poster">
            <div class="poster-header">
                <h2>Centros de Acopio para Perros en Monterrey</h2>
                <img src="..//recursos/perros.png" alt="Animales en adopción">
            </div>
            <div class="poster-content">
                <p>Adoptar una mascota es también una forma de apoyar a las organizaciones y personas que se dedican a rescatar, rehabilitar y dar en adopción a los animales necesitados; pues estas acciones requieren de mucho esfuerzo, tiempo y dinero. Al adoptar, les ayudas a liberar espacio y recursos para poder seguir salvando vidas.</p>
                <div class="poster-body">
                    <div class="poster-links">
                        <ul>
                            <li><a href="#" onclick="goToLink('https://prodan.org.mx/');">PRODAN A.C.</a> - Servicio de adopción de mascotas.</li>
                            <li><a href="#" onclick="goToLink('https://sn.gob.mx/dependencia/bienestar-animal/');">Centro de Control Canino y Felino del Municipio de San Nicolás de los Garza</a> - Servicio de control de animales.</li>
                            <li><a href="#" onclick="goToLink('https://adoptaunamascota.com.mx/');">Adopta una Mascota Monterrey</a> - Plataforma para adopción de perros.</li>
                            <li><a href="#" onclick="goToLink('https://www.nl.gob.mx/publicaciones/directorio-de-centros-de-atencion-canina-y-felina');">Centros de Atención Canina y Felina - Gobierno de Nuevo León</a> - Servicios de vacunación y más.</li>
                            <li><a href="#" onclick="goToLink('https://sanpedro.gob.mx/bienestar-animal');">Bienestar Animal San Pedro</a> - Programas de adopción y bienestar animal.</li>
                            <li><a href="#" onclick="goToLink('https://www.facebook.com/p/Patitas-Callejeras-100063552613125/?locale=es_LA');">ALBERGUE PATITAS CALLEJERAS</a> - Programas de adopción y bienestar animal.</li>
                        </ul>
                    </div>
                    <div class="poster-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d115062.01135637255!2d-100.38616793523032!3d25.68164014843761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scentro%20de%20acopio%20para%20perros!5e0!3m2!1ses-419!2smx!4v1723489328360!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        © 2024 FUREVERHOME. Todos los derechos reservados.
    </footer>
</body>
</html>
