<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% results.forEach(function(PERROS){ %>
        <li><strong>Nombre:</strong> <%= PERROS.Nombre %>, 
            <strong>Raza:</strong> <%= PERROS.Raza %>, 
            <strong>Edad:</strong> <%= PERROS.Edad %>, 
            <strong>Municipio:</strong> <%= PERROS.Municipio %></li>
      <% }); %>
    </ul>
    <div class="container">
        <div class="row">
            <% results.forEach((PERROS) => { %>
            <div class="col-md-4 col-xs-12">
                <div class="perros">
                    <div class="perros-body">
                        <h5 class="perros-title"><%= PERROS.Nombre %></h5>
                        <p class="perros-texto"><%= PERROS.Caracteristicas %></p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <% }); %> 
        </div>
    </div>
  </body>
</html>
